.background {
    padding: 12%;
    background: rgb(0, 0, 0, 0.7) url("/src/assets/img4.png");
    background-size: cover;
    background-blend-mode: darken;
    text-align: left;

}

.background h1 {
    color: white;
    position: absolute;
    top: 37%;
    font-size: 2.1rem;
}

.background p {
    color: white;
    position: absolute;
    top: 44%;
    font-size: 1rem;
}

.buttons-1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5%;
    margin: 4%;
}

.p-1 {
    color: gray;
}

.lines {
    width: 80%;
    height: 1px;
    margin-left: 4%;
    margin-top: -4%;
    gap: 30%;
}

.line-1 {
    width: 7%;
    height: 1px;
    background-color: black;
}

.line-2 {
    width: 89vw;
    height: 2px;
    background-color: gray;
}

Button {
    display: flex;
    justify-content: flex-end;
}

.text-size {
    font-size: 1.5rem;
    color: gray;
}

.text-color {
    color: gray;
}

.head-1 {
    font-size: 1.8rem;

}

.date-time {
    display: flex;
    gap: 1%;
    align-items: center;
}

.date {
    margin-top: 2%;
}

.location {
    margin-left: 5%;
    font: bolder;
    font-size: 1.1rem;
}

.date-1 {
    margin-top: 2%;
}

.location-1 {
    margin-left: 5%;
    font: bolder;
}

.btn-1 {
    border: 1px solid gray;
    margin: 1%;
    color: orange;
}

.btn-2 {
    border: 1px solid gray;
    margin: 1%;
    color: rgb(12, 186, 79);
}

.sections {
    display: flex;
    flex-direction: row;
}
.form-input{
    border-top: 0em;
    border-right: 0em;
    border-left: 0em;
}
.input {
    margin: 5%;
}
.icon{
    border: none;
}
.pen{
    position: relative;
    right: 12%;
    margin-top: 4%;
    cursor: pointer;
}
.warning-text{
    color: gray;
    font-size: 0.8rem;
    margin-left: 5%;
}
.main-modal{
    width: 100vw;

}
.top-section{
    font-size: 1rem;
    margin-top: 1%;
    color:  #008A45;
    background-color: #EFFFF4;
}
.second-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-head{
    font-weight: bolder;
}
.names{
    display: flex;
}
.image-settle{
    display: flex;
    flex-direction: row;
}
.form-image{
width: 20vw;
margin-left: 10%;
}
.create-btn{
    width: 25vw;
    border-radius: 30px;
}
.sign-up{
    color: blue;
    font-weight: 700;
}